name: Deploy to Cloud Run

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/619930646601/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-actions-sa@shailaja-477403.iam.gserviceaccount.com"

      - name: Configure Docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          docker build -t us-central1-docker.pkg.dev/shailaja-477403/cloudrun-repo/backend-app:$GITHUB_SHA .
          docker push us-central1-docker.pkg.dev/shailaja-477403/cloudrun-repo/backend-app:$GITHUB_SHA

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy backend-app \
            --image us-central1-docker.pkg.dev/shailaja-477403/cloudrun-repo/backend-app:$GITHUB_SHA \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated
